@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
/*===== VARIABLES CSS =====*/

:root {
    --h1-fs: 2rem;    --h1-fs-media: 3rem; 
    --h2-fs: 1.5rem;  --h2-fs-media: 2rem;
    --h3-fs: 1.3rem;  --h3-fs-media: 1.8rem;
    --h4-fs: 1.1rem;  --h4-fs-media: 1.5rem;
    --p-fs: .8rem;    --p-fs-media: 1.1rem;
    --a-fs: .7rem;    --a-fs-media: 1.1rem;
    --li-fs: .7rem;   --li-fs-media: 1.1rem;    

    --clr-bg-main: #ddf1f1;
    --clr-bg-pri: #f5edf2;
    --clr-bg-sec: #a20062;
    --clr-acc-main: #f6f3f9;
    --clr-acc-pri: #009885;
    --clr-acc-sec: #33cbb8;
    --clr-acc-thi: #d80000;
    --clr-acc-four: #ad0000;
    --clr-acc-fif: #e03333;
    --clr-text-main: #67696a;
    --clr-text-pri: #36454F;  
    
    --shadow-color: #33cbb8;    
    --main-ff: 'Poppins', sans-serif;
  }

/*===== BASE =====*/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-ff);
    font-size: var(--p-fs);
    background: var(--clr-bg-main);
    color: var(--clr-text-main);
    width: 100vw;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}   

h1, h2, h3, h4,
p, a, li {
    margin: 0;
}

h1 {
    font-size: var(--h1-fs);
}

h2 {
    font-size: var(--h2-fs);
}

h3 {
    font-size: var(--h3-fs);
}

h4 {
    font-size: var(--h4-fs);
}

p, a, li {
    font-size: var(--p-fs);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--clr-text-main);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

@keyframes scaleUp {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);

    }
}
    /* animation: scaleUp 1s ease-in-out;
    transform-origin: center center; */

/*===== BUTTONS =====*/

.btn {
    display: inline-block;
    background-color:  #fff;
    color: var(--clr-text-main);
    padding: .5rem 1.5rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    transition: .2s;
}
  
.btn:hover {
    box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
}

button:active {
    scale: .97;
}

/*===== PROJECT CSS =====*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 350px;
    min-width: 350px;
    background-color: #fff;
    padding: 2rem 3rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) -10px 9px 25px -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
}

.container img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    object-position: top;
    border-radius: 100%;
    border: .5rem solid var(--clr-bg-pri);
    margin: 0 auto;
}

.container h1 {
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
    margin: .5rem;
}

.container p, .container a {
    font-size: .65rem;
    text-align: center;
}

.container a {
    margin-top: 2rem;
    color: #a20062;
    text-decoration: underline;
}

.container .invitation {
    margin-top: .5rem;
}

.container .statistic {
    display: inline-block;
    padding: .5rem; 
    background-color: var(--clr-acc-main);
    margin-bottom: 1rem;
}

.username {
    font-size: .55rem;
    width: 100%;
   
}

.username input {
    width: 100%;
    border: 1px solid lightgray;
    font-size: .75rem;
    border-radius: 3px;
    padding: .7rem;
    outline: none;
}

input[type=checkbox] {
    width: 100%;
    border: 1px solid lightgray;
    accent-color: var(--clr-bg-sec);
    border-radius: 3px;
    padding: .7rem;
    font-size: .75rem;
}

.agree {
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
}

.agree p {
    text-align: left;
    margin-left: .4rem;
}

.btns {
    margin-top: 1rem;
       width: 100%;
}

.btns button {
    width: 100%;
    padding: 1rem 0;
    border: none;
    margin-top: .5rem;
    border-radius: .4rem;
    font-size: .75rem;
    background-color: var(--clr-bg-sec);
    color: white;
    cursor: pointer;
    transition: .2s;
}

.btns button:hover {
    box-shadow: rgba(50, 50, 93, 0.5) 0px 5px 15px -3px;
}

.back {
    position: absolute;
    background-color: var(--clr-bg-pri);
    width: 95%;
    max-width: 500px;
    min-height: 20rem;
    border-radius: 30px;
    top: 50%;
}

.bubbles {
    position: absolute;
    left: 0;
    top: 0;
}

.bubbles span {
    left: 0;
    top: 0;
    position: absolute;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc34f, 0 0 100px #4fc34f;
    animation: bubbles 15s linear infinite;
    animation-duration: calc(150s / var(--i));
}


.bubbles span:nth-child(even) {
   background: #ff2d75;
    background: 0 0 0 10px #ff2d7544, 0 0 50px  #ff2d75, 0 0 100px  #ff2d75,; 
}


@keyframes bubbles
{
    0% { transform: translateY(100vh) scale(0);}
    100% { transform: translateY(-20vh) scale(1);}

}





